.project-page {
    display: flex;
   height: 100%;
    justify-content: space-between;
    
    
}


.add1 {
    display: flex;
    height: 100%;
    height: 100%;
    border-radius: 1%;
    border: solid 2px  rgba(120, 28, 23, 0.545);
    margin-top: 10px
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1px;
    
    
    
}




.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

   
}

@media screen and (max-width: 768px) {
 
    .add1 {
        margin-bottom: 10px;
        margin-top: 10px;
        border: solid 3px rgba(120, 28, 23, 0.628);
    }
  
};