.project-page {
    display: flex;
   height: 100%;
    justify-content: space-between;
    
    
}


.add1 {
    display: flex;
    height: 100%;
    border: solid rgb(0, 30, 255);
    height: 100%;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    padding:  5px;
    margin: 4px;
    
    
}




.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

   
}

