.project-page {
    display: flex;
    
    justify-content: space-between;
    
    
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    padding:  5px;
    margin: 4px;
   
    
}




.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

   
}

