.project-page {
    display: flex;
   height: 100%;
    justify-content: space-between;
    
    
}


.add1 {
    display: flex;
    height: 100%;
    height: 100%;
    border-radius: 5%;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    padding:  5px;
    margin: 4px;
    
    
}




.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

   
}

