
.portfolio {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.portfolio h1  {
    background-color: rgb(169, 169, 201);
    display: flex;
    
}



.push {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
    
}

.container-vh {
    height: 100%;
    
}


