.container-header-main {
  background-image: linear-gradient(white, rgb(234, 208, 206));
}

.about-container {
  display: flex;
}

.introduction {
 padding: 10px;
}

.profile-image {
  border: solid 5px rgb(164, 81, 77);
  border-radius: 50%;
  height: 350px;
}

.intro {
 align-items: center;
}

.intro h2 {
  
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(120, 28, 23);
  
  width: 25vw;
}

.intro h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(120, 28, 23);
}

.icon-div {

  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.uofm-icon-image {
  height: 200px;
  width: 200px;
  flex-shrink: 2;
  
 
  
}


.container-about-me {
  text-align: center;

}

.introduction {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.about-me-header {
  font-size: 4vh;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color:rgb(157, 54, 49) ;
  text-align: center;
}

.about-ptags {
  padding: 10px 90px 10px 90px;
  margin: auto;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}
