
.about-container {
  display: flex;
}



.about-me{
  font-size: 4vh;
  text-align: center;
}

.profile-image {
  border: solid red;
  border-radius: 50%;
  height: 300px;
}




.introduction {
    display: flex;
    align-items: center;
    border: solid red;
    justify-content: space-evenly;    
}

.about-ptags {
 padding: 20px;
 border:solid blue
}
