.about-container {
  display: flex;
}

.introduction {
 padding: 10px;
}

.profile-image {
  border: solid red;
  border-radius: 50%;
  height: 350px;
}

.intro {
 align-items: center;
}

.intro h2 {
  
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
  width: 25vw;
}

.intro h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.icon-div {

  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.uofm-icon-image {
  height: 200px;
  width: 200px;
  flex: 2;
  
 
  
}


.container-about-me {
  text-align: center;

}

.introduction {
  height: 40vh;
  display: flex;
  align-items: center;
  border: solid red;
  justify-content: space-evenly;
}

.about-me-header {
  font-size: 4vh;
  text-align: center;
}

.about-ptags {
  padding: 20px;
  border: solid blue;
  
}
