.about-container {
  display: flex;
}

.profile-image {
  border: solid red;
  border-radius: 50%;
  height: 300px;
}

.intro h2 {
  font-size: 30px;
  text-align: center;
  padding: 10px;
  margin-left: 60px;
  width: 25vw;
}

.icon-div {
  border: solid black;
}

.uofm-icon-image {
  height: 150px;
  width: 150px;
  
}


.container-about-me {
  width: 50%;
}

.introduction {
  height: 40vh;
  display: flex;
  align-items: center;
  border: solid red;
  justify-content: space-evenly;
}

.about-me-header {
  font-size: 4vh;
  text-align: center;
}

.about-ptags {
  padding: 20px;
  border: solid blue;
  
}
