.about-me{
  font-size: 4vh;
  text-align: center;
}

.profile-image {
  border: solid red;
  border-radius: 50%;
  height: 300px;
}

.about-container {
}

.photo-and-text-container {
    display: flex;
}

.introduction {
    display: flex;
    align-items: center;
    border: solid red;
    
    
    
}

.about-ptags {
 padding: 20px;
 border:solid blue
}
