.container-header {
  min-height: 70vh;
  display: flex;
  flex-direction: column;

  margin-bottom: auto;
}

.about-container {
  display: flex;
}

.introduction {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 flex-wrap: wrap;
}

.profile-image-container {
  display: flex;
  flex: row;
  justify-content: space-evenly;
}

.profile-image {
  border: solid 2px rgb(108, 11, 6);
  border-radius: 50%;
  height: 350px;
}

.intro {
  align-items: center;
}

.intro h2 {
  margin-top: 9px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(108, 11, 6);
  font-size: 20px;
  width: 25vw;
  font-weight: 700;
}

.intro h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(108, 11, 6);
}

.icon-div {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.uofm-icon-image {
  height: 300px;
  width: 300px;
  flex-shrink: 2;
  margin: auto;
}

.container-about-me {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3px;
}

.about-me-header {
  font-size: 4vh;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: rgb(108, 11, 6);
  text-align: center;
}

.about-ptags {
  padding: 10px 90px 10px 90px;
  margin: auto;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  color: rgb(108, 11, 6);
}
