.modalBackdrop {
    background: rgba(255, 255, 255, 0.883);
    
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    display: flex;
  }

  .modalContainer {
    background: rgba(210, 189, 190, 0.702);
    
    border-radius: 5px;
    max-width: 100%;
    margin: 50px auto;
    padding: 25px;
    width: 960px;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .modalContainer h3  {
    color:  rgb(120, 28, 23);
    font-size: 3rem;
    margin-right: auto;
    margin-left: auto;
  }

  .modalContainer p {
    color:  rgb(120, 28, 23);
    font-size: 1.25rem;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 30px;
  }

  .modalContainer img{
    border: solid 2px rgba(120, 28, 23, 0.896);
    border-radius: 2%;
  }

  .modalTitle {
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 25px;
  }

  
  
  .modalContainer button {
    background: var(--primary);
    border: solid  rgb(120, 28, 23);
    border-radius: 5px;
    color:  rgb(120, 28, 23);
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    padding: 10px 15px;
  }

 