



.form-map-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  justify-content:space-evenly;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.control {
  width: 100%;
  margin-top: 5px;
}






.h1-name-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
}

.h1-name-container h1 {
  font-size: 30px;
  text-align: center;
  color: rgb(120, 28, 23);
}

.add-ins {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
}

.button {
  margin-top: 30px;
  text-align: center;
}

.iframe-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-height: 60vh;
}


.iframe-container span {
  text-align: center;
  padding: 20px;
  color: rgb(120, 28, 23);
  font-size: 1.5rem;
  font-weight: 600;
}

.map-iframe {
  border: solid 2px rgb(189, 177, 177);
  border-radius: 5%;
  height: 78%;
}

.formset {
  color: rgb(120, 28, 23) !important;
  
  
  
}



@media screen and (max-width: 1112px) {
 
  .formset{
    width: 75vw;
  }
  .h1-name-container {
    width:87vw;
    border: solid 2px rgb(120, 28, 23);
    border-radius: 5px;
  }
  .iframe-container{
    width: 90vw;
  
  }
}