.control {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 55px;
}

.contact-container {
  margin-top: 2%;

  height: 75vh;
}

.form-map-container {
  display: flex;
  flex-wrap: wrap;  
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  justify-content: space-evenly;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 30%;
}

.h1-name-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.h1-name-container h1 {
  font-size: 50px;
  text-align: center;
  color: rgb(120, 28, 23);
}

.add-ins {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
}

.button {
  margin-top: 30px;
  text-align: center;
}

.i-frame-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.i-frame-container h1 {
  font-size: 80px;
  text-align: center;
  padding: 20px;
  color: rgb(120, 28, 23);
  font-size: 1.5rem;
  font-weight: 600;
}

.i-frame-link {
  border: solid 2px rgb(189, 177, 177);
  border-radius: 5%;
  height: 78%;
}

.formset {
  color: rgb(120, 28, 23) !important;
  font-size: 30px !important;
  
}