.contact-container {
  margin-top: 2%;
}

.form-container {
  display: flex;

  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  border: solid 5px rgb(11, 6, 6);
}

.form {
  display: block;

  margin-left: auto;
  margin-right: auto;
}
.row {
  width: 100%;
  margin: 10%;
}
