.contact-container {
  margin-top: 2%;
  background-color: rgb(228, 169, 169);
  height: 75vh;
}

.form-container {
  display: flex;
  flex-wrap: wrap;

  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border: solid 9px rgb(23, 5, 5);
  height: 100%;
}

.form {
  margin: auto;
  border: solid 2px rgb(128, 0, 255);
  height: auto;
}
.row {
  width: 100%;
  margin: 10%;
}

.add-ins {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
}

.i-frame-container {
  width: 50%;
  height: 90%;
  justify-content: center;
  border: solid 9px rgb(0, 225, 255);
}

.i-frame-container h1 {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
