.contact-container {
  margin-top: 2%;
  
  height: 75vh;
}

.form-container {
  display: flex;
  flex-wrap: wrap;

  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.form {
  margin: auto;
  height: 90%;
  text-align: center;
  font-size: 50px;
  color:rgb(120, 28, 23) ;
}
.row {
  width: 100%;
  margin: 10%;
}

.add-ins {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
}

.i-frame-container {
  width: 50%;
  height: 90%;
  justify-content: center;
  margin-right: 40px;
}

.i-frame-container h1 {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  color:rgb(120, 28, 23) ;
  font-size: 1.5rem;
}




@media (max-width: 1200px) {
    .form {
        display: inline;
        
        align-items: center;
    }
}