.navBar-container {
  background-image: linear-gradient(rgb(167, 221, 244), white);
 
}

.nav {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}

.navBarTitle {
  height: auto;
  width: fit-content;
  font-size: 2rem;
  border: solid rgb(18, 148, 53);
}

.navItems {
  display: flex;
  margin-left: auto;
  margin-top: auto;
  font-size: 2rem;
  
}

.navItems li {
  margin-left: 25px;
  justify-content: space-evenly;
}


.navBarName {
  margin: auto;
  font-size: 60px;
  justify-content: space-between;
}

