.navBar {
   background-color:lightblue ;
   height: 9rem;
}

.nav {
    display: flex;
    padding: 20px;
}

.navBarTitle{
    height: auto;
    width: fit-content;
}


.navItems {
    display: flex;
    margin-left: auto;

}

.navItems li {
    margin-left: 25px;
}


