.navBar {
   background-color:lightblue ;
}

.nav {
    display: flex;
    padding: 20px;
}

.navBarTitle {
    
}

.navItems {
    display: flex;
    margin-left: auto;

}

.navItems li {
    margin-left: 25px;
}