.navBar {
    background-image: linear-gradient(rgb(167, 221, 244), white);
   height: 9rem;
}

.nav {
    display: flex;
    padding: 20px;
}

.navBarTitle{
    height: auto;
    width: fit-content;
}


.navItems {
    display: flex;
    margin-left: auto;

}

.navItems li {
    margin-left: 25px;
}


.navBarName {
    font-size:805%;
    font-style: oblique;
    
  text-shadow: 5px 5px 5px rgb(145, 112, 112);
}