.navBar-container {
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.nav {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navBarTitle {
  height: auto;
  width: fit-content;
  font-size: 2rem;
}

.navBarTitle h2 {
  color: rgb(108, 11, 6);
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.navItems {
  display: flex;
  margin-left: auto;
  margin-top: auto;
  font-size: 2rem;
  flex-wrap: wrap;
}

.navItems li {
  margin: auto;
  padding: 4px;
  justify-content: space-evenly;
}

.navBarName {
  margin-left: auto;
  margin-right: auto;

  font-size: 40px;
  justify-content: space-between;
  align-items: center;
}
