
.text {
    font-size: 300%;
    text-align: center;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.icon {
    height: 100px;
    width: 100px;
    margin: 10px;
}
