
.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
}

.text {
    font-size: 300%;
    text-align: center;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 40px 30px 40px;
}

.icon {
    height: 70px !important;
    width: 70px;
    margin: 10px;
}
