* {
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding-bottom: 60px;
    overflow-y: auto;
}

.content-container {
    padding-left: 1rem;
    padding-right: 1rem;
}

ul {
list-style: none;
}

a {
    text-decoration: none;
}

ul li {
    color: rgb(108, 11, 6);
}

ul li a:hover {
    color: rgb(205, 116, 116);
}

a:hover {
    color: rgb(208, 255, 0);
}

a.active {
    background-color:gold;
    color:rgb(108, 11, 6);
    border-radius: 50%;
}

a {
    text-decoration: none;
}


.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}