* {
    margin: 0;
    padding: 0;
}

ul {
list-style: none;
}

a {
    text-decoration: none;
}

ul li a:hover {
    color: black;
}

a:hover {
    color: black;
}

a.active {
    background-color: crimson;
    color: white;
}

a {
    text-decoration: none;
}

