* {
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}



.content-container {
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 100%;
    flex-grow: 1;
    position: relative;
    box-sizing: inherit;
    
}

ul {
list-style: none;
}

a {
    text-decoration: none;
}



ul li {
    color: rgb(108, 11, 6);
}

ul li a:hover {
    color: rgb(205, 116, 116);
}



a:hover {
    color: gold;
}

a.active button {
    background-color:gold !important;
    color:rgb(108, 11, 6);
    border-radius: 50%;
}

a {
    text-decoration: none;
    color:rgb(108, 11, 6);
}


