* {
    margin: 0;
    padding: 0;
}

ul {
list-style: none;
}

a {
    text-decoration: none;
}

ul li {
    color: rgb(108, 11, 6);
}

ul li a:hover {
    color: rgb(205, 116, 116);
}

a:hover {
    color: rgb(208, 255, 0);
}

a.active {
    background-color:gold;
    color:rgb(108, 11, 6);
    border-radius: 50%;
}

a {
    text-decoration: none;
}


